body {
    background-color: #33223C;
    font-family: 'Fauna One', serif;
    font-size: 16px;
}

#float-heading {
    overflow: hidden;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
}

#float-heading a.buttons {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
}

#float-heading a.buttons:hover {
    background-color: #aaa;
}

#float-heading a.title {
    float: left;
    display: block;
    font-family: "Cinzel", serif;
    font-size: 30px;
    padding: 14px;
    color: #000000;
    text-align: left;
    text-decoration: none;
}

#float-heading a.subtitle {
    float: left;
    display: block;
    font-size: 15px;
    color: #000000;
    text-align: left;
    padding: 30px 14px 14px 5px;
    text-decoration: none;
}

a.hidden-link:link {
    color: #000000;
    text-decoration: none;
}

a.hidden-link:hover {
    text-decoration: underline;
}

a.hidden-link:visited {
    color: #000000;
}

a.hidden-link:active {
    color: #000000;
}

div.body-box {
    border-radius: 25px;
    background-color: white;
    background-position: right bottom, left top
}

div.body-box p {
    padding: 20px;
}

div.body-box h1 {
    padding: 20px;
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 24px;
}

div.body-box h2.peanut-butter {
    padding-left: 20px;
    color: #ECB46B;
}

div.body-box h3.peanut-butter {
    padding-left: 20px;
    color: #ECB46B;
}

div.body-box img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}


div.gallery img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 6 0px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6 0px;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%
    }
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}